.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #fff;
}
.experiencia-texto strong {
  color: #141414;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 6px;
  position: relative;
  transition: .3s ease;

}
.empresa:hover {
  background: linear-gradient(#0070f3, #40b6e8);
  transition: 0.3s ease;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  background: linear-gradient(#0070f3, #40b6e8);
  border-radius: 6px;
  top: 20px;
  left: -4px;
}
.empresa-ano {
  position: absolute;
  top: 22px;
  left: -88px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
}
.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
  top: -40px;
  max-width: 35ch;
  margin-top: 15px;
}
.empresa-habilidades {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: start;
}
.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffff;
  padding: 5px 10px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    font-size: 1.44rem;
    word-break: unset;
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.125rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
.js .js-scroll {
  opacity: 0;
}
.js .js-scroll.active {
  opacity: 1;
}