.introducao {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px;
  text-align: center;
  justify-items: center;
  gap: 100px;
 
}
.introducao h1 {
  text-align: center;
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  font-weight: 700;
  margin-bottom: 200px;
  color: #fff;
  
}
.introducao h1::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
 }
/* .introducao h1::before {
  content: "";
  display: inline-block;
  width: 135px;
  height: 110px;
  background: url(./img/deco.svg) no-repeat center;
  position: absolute;
  left: -40px;
  top: -15px;
  z-index: -1;
} */
.introducao p {
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 1000px) {
  .introducao {
    display: flex;
    grid-template-columns: 1fr;
  }
  .inroducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
